.theme-btn {
  position: relative;
  width: 210px;
  height: 34px;
  padding: 2px;
  background: #8a8a8a;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.theme-btn-circle {
  position: relative;
  width: 30px;
  height: 30px;
  left: 0;
  background: #1f2937;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.theme-btn._dark .theme-btn-circle {
  left: calc(100% - 30px);
}

.theme-btn-text {
  position: absolute;
  width: min-content;
  color: #1f2937;
  line-height: 1;
  text-align: start;
  left: 40px;
}

.theme-btn._dark .theme-btn-text {
  left: 10px;
}
