.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.error-container_message {
  display: flex;
  justify-content: center;
  height: fit-content;
  max-width: 300px;
}
.error-container__spacer {
  height: 10px;
}
