.container {
  margin: 0 auto;
  align-self: center;
  width: 100%;
  max-width: 360px;
}

.title {
  text-align: center;
  font-size: 32px;
  color: #9ca3af;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-message {
  color: #ff8b00;
  margin-top: 15px;
}