.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px auto 0 auto;
  max-width: 1280px;
}

.images-container {
  display: flex;
  gap: 20px;
}

.image {
  padding: 15px;
}
