.app-header {
  flex: 0 0 60px;
  position: sticky;
  top: 0px;
  background-color: white;
  min-width: 500px;
}
.app-header_rs-logo{
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
